<h1>All Customers</h1>

<p>
  <%= link_to 'Alphabetized Customers', customers_alphabetized_path %> - <%= link_to 'Missing Email', customers_missing_email_path  %>
</p>

<%= render  partial: '/customers/customer', collection: @customers %>
